    <div class="row">

    <div class="col-8">
        <h1>Gta-V</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita ex maiores fugit. Numquam adipisci nemo repudiandae doloremque non. Fugiat officiis, explicabo consequatur impedit labore eaque delectus id nisi ullam nesciunt?
        </p>
    </div>

    <div class="col-4">
        <img class="img-thumbnail" src="assets/img/GTA.jpg" alt="">
    </div>

</div>